POSTGRES_USER=user
POSTGRES_PASSWORD=pswd
POSTGRES_DB=movies
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
OPENAI_API_KEY=
REBUILD=false
SAMPLE_N=
GRAFANA_HOST_PORT=3001
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin